
SESSION_NAME=AgAOt9pd7tK_axNQ9OkMDweXoW2ngkUk5amBfbI8SovykL6xHe60cRQJ7TT_sQtddtgI4KlRIY2otXUdf1X4e2IZo_ebPRsiewabkWAb7rKsxnoHvqcVlsP-mpkg9rHRJRa0f-b375cMvYdkwjm0-B0X7RIxbEcASZRO1GPdbcGRKDVcHh76yrXUeFRh1CI--3Nm81MFUXM6P-iAvVw_zEvTJ38sxY7DzBpdk6w7ptUyA85l1yGw9vzwqQw6TwKRNPhebWZamllelKwZ6dzdv21VYMMnlVpDCa1DNnGEjLXZaAcEG_dVim_RDH1iSvtDpB5r_AWpQ4Lob5xitEur8MUgQVQUZwA

BOT_USERNAME=DeTroitSogbot

BOT_TOKEN=2017773135:AAERmiwYvZB0lyy9HMS59-fE-C4huix7RwM

BOT_NAME=DeTroit

API_ID=8001715 

API_HASH=7dd6c527159294be9285f44e9cec7473 

OWNER_ID=633004612 

DATABASE_URL=mongodb+srv://hamat:hamat@cluster0.i9wpi.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

LOG_CHANNEL=-1001195100644

BROADCAST_AS_COPY=False

BG_IMAGE=https://telegra.ph/file/97b8759e86bf092bf2acb.png

THUMB_IMG=https://telegra.ph/file/97b8759e86bf092bf2acb.png

SUDO_USERS=633004612

DURATION_LIMIT=180

UPDATES_CHANNEL=DD0DD

GROUP_SUPPORT=DD0DD

ASSISTANT_NAME=DeTroitSongs 

OWNER_NAME=SSSSF 

PMPERMIT=ENABLE

AUD_IMG=https://telegra.ph/file/97b8759e86bf092bf2acb.png

QUE_IMG=https://telegra.ph/file/97b8759e86bf092bf2acb.png

THUMB_IMG=https://telegra.ph/file/97b8759e86bf092bf2acb.png
